<h1 id="display-name">${display_name}</h1>

<p class="xblock-question" id="content-main">${question_text}</p>
<ul>
    %for name in range(0,count):
    <p id=${content[name]}>${content[name]}</p>
    <textarea class="answer editable" cols="66" rows="22" id=${box_text}>${box_text}</textarea>

    %endfor
</ul>
<div class="xblock-actions" style="margin-top:20px;height:30px;">
        <span class="error-message"></span>
            <div class="action-item">
                <a href="#" class="send-button" style="float:left;">Send</a>
            </div>
</div>



</object>
